* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #eae8eb;
    font-family: sans-serif;
}

.conteiner{
    width: 1110px;
    margin: 0 auto;
    display: flex;
}

.inputForm{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.mtMB{
    margin-top: 24px;
    margin-bottom: 14px;
}

.w90{
    width: 90%;
    height: 38px;
    border-radius: 3px;
    border: 1px solid #c0bec1;
    text-indent: 10px;
    outline: none;
}

.w90:focus{
    box-shadow: 0 0 3px 3px #8ca8cd;
}

.addButton{
    width: 90px;
    height: 38px;
    border: 1px solid #407f54;
    border-radius: 3px;
    color: #407f54;
    margin-top: 16px;
    outline: none;
    cursor: pointer;
}

.addButton:hover{
    color: white;
    background-color: #1e9c39;
}

.addButton:focus{
    box-shadow: 0 0 3px 3px #7ac988;
}

.editUser{
    display: none;
    width: 90px;
    height: 38px;
    border: 1px solid #407f54;
    border-radius: 3px;
    color: #407f54;
    margin-top: 16px;
    outline: none;
    cursor: pointer;
}

.editUser:hover{
    color: white;
    background-color: #1e9c39;
}

.editUser:focus{
    box-shadow: 0 0 3px 3px #7ac988;
}



.outputForm{
    width: 50%;
    margin-top: 24px;
    border-top: 1px solid #d0ced1;
    
}

.heder{
    border-bottom: 2px solid #d0ced1;
    height: 51px;
    width: 100%;
}

.heder_p{
    font-weight: bold;
}

.heder_out{
    height: 51px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.delete_button{
    width: 72px;
    height: 38px;
    background-color: #cd2d39;
    color: white;
    border-radius: 3px;
    outline: none;
    border: none;
}

.edit_button{
    width: 53px;
    height: 38px;
    background-color: #edaf04;
    border-radius: 3px;
    outline: none;
    border: none;
}